# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp

# Build artefacts
bin/
build/
target/
*.exe

# Frontend
web/node_modules/
web/dist/*
!web/dist/.gitkeep
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
